<div class="card-header bg-white align-self-center">
    <h4 class="card-title text-center">Tem certeza que deseja sair?</h4>
</div>

<%= link_to  "Logout", logout_path, method: 'delete', 
class: "btn btn-outline-primary btn-lg btn-inicial rounded-pill font-weight-bolder text-uppercase",
style: "padding: 10px 50px; border-width: 2px;" %>