<div class="row">
    <div class="col-md-12">
        <div class="card mb-3 text-dark shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Novo Comentário</h5>
                <%= render  "form", comment: @comment, competence_id: @comment.competence_id %>
            </div>
        </div>
    </div>
</div>
