<div class="row">
    <div class="col-md-12">
        <div class="card mb-3 text-dark shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Editar Competência</h5>
                <%= render "form", competence: @competence %>
            </div>
        </div>
    </div>
</div>

